[init]
	templatedir = ~/.gitignore_global
[core]
    excludesfile = /Users/hanling/.gitignore_global
[alias]
	st = status
	ci = commit
	sb = submodule
	co = checkout
	pm = push origin master
	pd = push origin dev
	lg = log --all --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%ci) %C(bold blue)<%an>%Creset' --abbrev-commit
	d = difftool
	sm = git branch --set-upstream-to=origin/master master
[diff]
	tool = vimdiff
[difftool]
    cmd = opendiff \"$LOCAL\" \"$REMOTE\"
[user]
	email = hanling@yizhoucp.cn
	name = hanling
[push]
	default = simple
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
